.telephone-dialog{
    max-width: 90vw !important;
}

.phone-item {
    margin: 5px;
}

.number {
    color: #757575 !important;
}
.smaller-font{
    font-size: 14px;
}
//
//@media (max-width: 959px) {
//    .number {
//        margin: 8px;
//        color: #757575 !important;
//        display: inline-block;
//        height: 40px !important;
//    }
//}
