<div class="telephone-container" fxLayout="column" ngStyle.gt-sm="width: 700px;">
    <div class="close-btn-outer" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Nuestros números teléfonicos</h2>
        <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content style="max-height: 80vh;">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100">
                <div class="py-1 text-muted" fxLayout="row wrap" >
                    <div class="phone-item" fxFlex="100" fxHide.lt-md="">
                        <p><strong>Del Interior</strong></p>
                        <span><a href="tel:8002129225" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (800) 212 9225</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>CDMX</strong></p>
                        <span><a href="tel:5549974360" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (55) 4997 4360</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>CDMX</strong></p>
                        <span><a href="tel:5549968849" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (55) 4996 8849</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Guadalajara</strong></p>
                        <span><a href="tel:3317283353" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (33) 1728 3353</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Nuevo León</strong></p>
                        <span><a href="tel:8120635708" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (812) 063 5708</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Edo. Mex.</strong></p>
                        <span><a href="tel:7226481040" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (722) 648 1040</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Morelos</strong></p>
                        <span><a href="tel:7773179630" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (777) 317 9630</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Hidalgo</strong></p>
                        <span><a href="tel:7716887808" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (771) 688 7808</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Puebla</strong></p>
                        <span><a href="tel:2227051726" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (222) 705 1726</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Q. Roo</strong></p>
                        <span><a href="tel:9982940670" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (998) 294 0670</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>S.L.P.</strong></p>
                        <span><a href="tel:4443280420" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (444) 328 0420</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Michoacán</strong></p>
                        <span><a href="tel:4433560484" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (443) 356 0484</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Tabasco</strong></p>
                        <span><a href="tel:9933070286" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (993) 307 0286</a></span>
                    </div>
                    <div class="phone-item" fxFlex="20" fxFlex.lt-md="43">
                        <p><strong>Veracruz</strong></p>
                        <span><a href="tel:2293300992" ngClass.lt-md="smaller-font" class="number"><mat-icon class="mat-icon-sm">call</mat-icon> (229) 330 0992</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="close-btn-outer" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Atención a Comercializadoras y Mayoristas</h2>
    </div>
    <div mat-dialog-content style="max-height: 80vh;">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100">
                <div class="py-1 text-muted" fxLayout="row wrap" >
                    <div class="phone-item" fxFlex="100">
                        <span><a href="tel:5549974360" class="number"><mat-icon class="mat-icon-sm">call</mat-icon>(55) 8759 8891</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
