<mat-sidenav-container style="display: flex;">

    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" [style.position]="sidenav.opened ? 'initial' : 'absolute'" class="filter-sidenav" perfectScrollbar>
        <div>
            <app-sections-side></app-sections-side>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left" fxLayout="column">
        <ngx-json-ld [json]="json"></ngx-json-ld>
        <div fxLayout="row wrap" fxFlex="100">
            <div fxLayout="column"  fxFlex="100">
                <h1>{{product?.name}}</h1>
                <button *ngIf="product?.video" style="width: 120px; margin-bottom: 10px;" mat-raised-button class="bg-color-jd" (click)="openYoutubeDialog()"><mat-icon>videocam</mat-icon> Ver video</button>
                <div fxLayout="row wrap" fxFlex="100">
                    <div fxFlex="100" fxFlex.gt-sm="40">
                        <mat-card class="product-image" style="overflow: hidden;">
                            <!--                    <mat-chip-list *ngIf="product?.discount"><mat-chip class="bg-color-oferta" selected="true">{{product?.discount}}</mat-chip></mat-chip-list>-->
                            <div *ngIf="product?.discount" class="ribbon ribbon-top-right">
                                <span>Oferta</span>
                            </div>
                            <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md>
                                <mat-icon>fullscreen</mat-icon>
                            </button>
                            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" title="{{product?.productType+' '+product?.brand+' '+product?.mpn}}"
                                 (mouseleave)="onMouseLeave($event)" alt="{{product?.productType+' '+product?.brand+' '+product?.mpn}}" (error)="handleImgError($event)"
                                 style="max-width: 100%;"/>
                            <img *ngIf="product?.newPrice > 3000" src="../assets/images/otros/gratis.png" class="free-delivery">
                        </mat-card>

                        <div class="small-carousel">
                            <div class="swiper-container" [swiper]="config">
                                <div class="swiper-wrapper">
                                    <div *ngFor="let image of product?.images" class="swiper-slide">
                                        <mat-card (click)="selectImage(image)" class="p-1">
                                            <div style="height: 81px; width: 81px; text-align: center;" ngStyle.lt-sm="height: 100px;" fxLayoutAlign="center center">
                                                <img [attr.data-src]="image.small" title="{{product?.productType+' '+product?.brand+' '+product?.mpn}}" (error)="handleImgError($event)"
                                                     alt="{{product?.productType+' '+product?.brand+' '+product?.mpn}}" class="swiper-lazy" style="max-height: 100%"/>
                                            </div>
                                            <div class="swiper-lazy-preloader"></div>
                                        </mat-card>
                                    </div>
                                </div>
                                <button mat-icon-button class="swiper-button-prev swipe-arrow">
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                </button>
                                <button mat-icon-button class="swiper-button-next swipe-arrow">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="60" ngClass.gt-sm="m-0 p-3"
                         ngClass.sm="mt-2" ngClass.xs="mt-2">

                        <div fxFlex="100" fxLayout="column" style="padding-left: 10px; padding-right: 25px; margin-bottom: 15px;">
                            <div #zoomViewer fxShow="false" fxShow.gt-md>
                                <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18"
                                          [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-md="space-between center">
                                <!--                                <h2>{{product?.name}}</h2>-->
                                <button mat-button (click)="sidenav.toggle()" class="bg-color-jd" fxHide fxShow.lt-md>
                                    Secciones
                                </button>
                                <a style="background: #35B73A;color: #fff" fxHide fxShow.lt-md href="https://wa.me/527226481040?text=Hola,%20me%20gustar&iacute;a%20saber%20sobre%20las%20refacciones%20del%20producto%20{{product?.name}}"
                                   target="_blank" mat-raised-button >
                                    <fa-icon [icon]="faWhatsapp" style="font-size: 20px;"></fa-icon> Pregunta por refacciones
                                </a>
                            </div>
                            <h2 class="py-1 lh" style=" font-size: 17px;font-weight: 500; text-align: justify">{{product?.description}}</h2>
                            <h3 class="old-price text-muted" >
                                <span *ngIf="product?.oldPrice && product?.stock">${{product?.oldPrice | number : '1.2-2'}}</span>
                            </h3>
                            <h1 class="new-price" *ngIf="product?.stock"><span style="color: #de1f21;"> ${{product?.newPrice | number : '1.2-2'}} </span><span class="text-bold-tiny"> {{textIVA}}</span></h1>
                            <div *ngIf="product?.stock == false" fxLayout="row" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center">
                                    <p class="text-muted" style="font-weight: 900; font-size: 15px;">
                                        Consulta precio y existencia Llámanos al teléfono
                                    </p>
                                    <p style="font-weight: 900; font-size: 18px; color: #de1f21;">
                                        800 212 9225
                                    </p>
                                </div>
                            </div>
                            <div class="py-1 lh">
                                <!--                            <p><span class="fw-500 fn-color-jd">Categoría: </span><span></span></p>-->
                                <p *ngIf="product?.inventory > 0 && product?.stock" class="fn-color-inStock" ><mat-icon class="mat-icon-sm m-0 fn-color-inStock">flash_on</mat-icon>&nbsp;Envío de volada </p>

                            </div>

                            <!--                        ********************************    -->
                            <!--                        Se divide la zona de pago-->
                            <!--                        ********************************    -->
                            <!--                                <div class="mat-elevation-z6 shopping-area">-->
                            <!--<div class="py-2 text-shopping">
                                <h2 class="new-price" *ngIf="product?.stock"><span style="color: #de1f21;"> ${{product?.newPrice | number : '1.2-2'}} </span><span class="text-bold-tiny">IVA incluido</span></h2>
                            </div>-->
                            <!--                                <p> <mat-icon class="mat-icon-sm m-0 fn-color-jd">local_shipping</mat-icon> Envío Gratis <a style="color: rgba(0, 0, 0, 0.87);" href="javascript: void(0)" (click)="openDeliveryTermsDialog()">*Condiciones</a></p>-->

                            <app-controls *ngIf="product" [product]="product" [type]="'product'" [align]="'start end'"></app-controls>


                            <!--<div style="font-weight: bold !important;">
                                <p> <mat-icon class="mat-icon-sm m-0 fn-color-jd">monetization_on</mat-icon> Pagos seguros con </p>
                                <ul style="list-style-type: disc; padding-left: 2em;">
                                    <li>Paypal</li>
                                    <li>Mercado pago</li>
                                    <li>Depósito bancario</li>
                                </ul>
                            </div>-->
                            <!--                                </div>-->
                            <!--                            <div class="divider mt-1"></div>-->
                            <!--                            <div class="divider"></div>-->

                            <div class="divider" sltyle="height: 2px;"></div>
                            <div style="font-weight: bold !important;">
                                <p *ngIf="product"> <mat-icon class="mat-icon-sm m-0 fn-color-jd">local_shipping</mat-icon> Envio gratis a partir de $3,000 de compra. <a style="color: rgba(0, 0, 0, 0.87);" href="javascript: void(0)" (click)="openDeliveryTermsDialog()">*Condiciones</a></p>
                                <p> <mat-icon class="mat-icon-sm m-0 fn-color-jd">perm_phone_msg</mat-icon> Soporte y asesoria </p>
                                <p> <mat-icon class="mat-icon-sm m-0 fn-color-jd">build</mat-icon> Garantía de Fabrica </p>
                                *Sujeto a existencias.
                                <br>
                                *Precios sujetos a cambio sin previo aviso.
                            </div>
                            <br>
                            <div class="boton-cel-WA" fxShow fxHide.lt-md>
                                <a style="background: #35B73A;color: #fff" href="https://wa.me/527226481040?text=Hola,%20me%20gustar&iacute;a%20saber%20sobre%20las%20refacciones%20del%20producto%20{{product?.name}}"
                                   target="_blank" mat-raised-button class="no-mobile whats">
                                    <fa-icon [icon]="faWhatsapp" style="font-size: 20px;"></fa-icon> Pregunta por refacciones
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div fxLayout="row wrap" class="mt-2">
                    <div fxFlex="100">
                        <mat-card>
                            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                                <mat-tab label="Ficha técnica">
                                    <div class="full-desc lh">
                                        <p class="fw-500 mt-2" style="color: black !important;"
                                           [innerHTML]="dataSheet | sanitizeHtml">
                                        </p>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Dudas y Comentarios">
                                    <div *ngIf="sendComment == false" class="full-desc lh" style="color: black !important;">
                                        <h3 class="mt-2">Dejanos tus datos para que un asesor te contacte.</h3>
                                        <div class="divider"></div>
                                        <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxLayout="row wrap">
                                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Nombre Completo</mat-label>
                                                    <input matInput placeholder="Tu nombre" formControlName="nombre" required>
                                                    <mat-error *ngIf="form.controls.nombre.errors?.required">El nombre es obligarotio</mat-error>
                                                    <mat-error *ngIf="form.controls.nombre.hasError('minlength')">Es un nombre muy corto, mínimo 4 caracteres</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Email</mat-label>
                                                    <input matInput placeholder="Tu email" formControlName="email" required>
                                                    <mat-error *ngIf="form.controls.email.errors?.required">El email es obligatorio</mat-error>
                                                    <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">El email es invalido</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Teléfono 10 DIGITOS</mat-label>
                                                    <input matInput placeholder="Tu teléfono" formControlName="telefono" maxlength="10" required>
                                                    <mat-error *ngIf="form.controls.telefono.errors?.required">El teléfono es obligatorio</mat-error>
                                                    <mat-error *ngIf="form.controls.telefono.hasError('pattern')">El teléfono es invalido, ingresa números
                                                    </mat-error>
                                                    <mat-error *ngIf="form.controls.telefono.hasError('minlength')">
                                                        El teléfono es muy corto, son 10 números
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Whatsapp</mat-label>
                                                    <input matInput placeholder="Tu Whatsapp" maxlength="10" formControlName="whatsapp">
                                                    <mat-error *ngIf="form.controls.whatsapp.hasError('pattern')">
                                                        El teléfono es invalido, ingresa números
                                                    </mat-error>
                                                    <mat-error *ngIf="form.controls.whatsapp.hasError('minlength')">
                                                        El teléfono es muy corto, son 10 números
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>

                                            <div fxFlex="100" class="px-1 mt-1">
                                                <mat-form-field appearance="outline" class="w-100">
                                                    <mat-label>Comentarios</mat-label>
                                                    <textarea matInput placeholder="Tus comentarios" formControlName="comentario" rows="3"></textarea>
                                                    <mat-error *ngIf="form.controls.comentario.hasError('minlength')">Debes escribir al mínimo 4 caracteres.</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <input  type="hidden" formControlName="producto"  required>
                                            <div fxFlex="100" class="mt-2 text-center w-100">
                                                <button mat-raised-button class="bg-color-jd" type="submit">Enviar</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div *ngIf="sendComment" fxLayout="column" fxLayoutAlign="space-around center" >
                                        <div fxFlexOffset="15" style="height: 300px;">
                                            <h1>Gracias por compartir con nosotros, en breve nos comunicamos contigo.</h1>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="100" fxLayout="column">


            <div class="py-2 mt-2">
                <h2>Productos relacionados</h2>
                <div class="divider"></div>
                <app-products-carousel [products]="relatedProducts"></app-products-carousel>
            </div>


            <div fxLayout="row wrap" class="info-bar">
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                    <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">build</mat-icon>
                        <div class="content">
                            <p style="color: rgba(0, 0, 0, 0.87) !important;">Garantía y Refacciones</p>
                            <span class="text-muted m-0">Todos nuestros equipos cuentan con garantía, contra defectos de fábrica y contamos con las refacciones originales de los mismos.</span>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                    <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon class="mat-icon-xlg fn-color-jd mt-2">local_shipping</mat-icon>
                        <div class="content">
                            <p style="color: rgba(0, 0, 0, 0.87) !important;">Envío Gratis</p>
                            <span class="text-muted m-0" *ngIf="product">En compras superiores a $3,000 pesos.</span>
                            <a style="color: rgba(0, 0, 0, 0.87);" href="javascript: void(0)" (click)="openDeliveryTermsDialog()" *ngIf="product">*Condiciones</a>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                    <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">monetization_on</mat-icon>
                        <div class="content">
                            <p style="color: rgba(0, 0, 0, 0.87) !important;">Paga Seguro</p>
                            <!--                <span class="text-muted m-0">Aceptamos pagos mediante PayPal, Mercado Pago, transferencia y Deposito Bancario.</span>-->
                            <span class="text-muted m-0">Aceptamos pagos mediante PayPal, transferencia y Deposito Bancario.</span>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                    <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                        <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">perm_phone_msg</mat-icon>
                        <div class="content">
                            <p style="color: rgba(0, 0, 0, 0.87) !important;">Soporte y Asesoría</p>
                            <span class="text-muted m-0">¿Dudas sobre tu equipo?, nuestros ingenieros te pueden apoyar por teléfono, Whatsapp o en nuestras tiendas.</span>
                        </div>
                    </mat-card>
                </div>
            </div>
            <app-brands-carousel *ngIf="carrouselsShow" [brands]="distributions"></app-brands-carousel>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

