<ngx-json-ld [json]="json"></ngx-json-ld>
<div fxLayout="row wrap" *ngIf="router.url != '/'">
    <div fxFlex="100">
        <mat-card fxLayout="row wrap" class="breadcrumb light-block">
            <div fxLayout="row" fxFlex.lt-md="100">
                <a *ngIf="router.url != '/'" routerLink="/" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center" (click)="closeSubMenus()">
                    <mat-icon>home</mat-icon>
                    <span class="breadcrumb-title">Inicio</span>
                </a>
                <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center">
                    <a *ngIf="i < (breadcrumbs.length - 2)">{{breadcrumb.name}}</a>
                    <a *ngIf="i == (breadcrumbs.length - 2) && breadcrumb.url == '/'" [routerLink]="[breadcrumb.url, breadcrumb.level1, breadcrumb.level2]">{{breadcrumb.name}}</a>
                    <a *ngIf="i == (breadcrumbs.length - 2) && breadcrumb.url != '/'" >{{breadcrumb.name}}</a>
                    <span *ngIf="i == (breadcrumbs.length - 1)" class="active"><b>{{breadcrumb.name}}</b></span>
                </div>
            </div>

            <div class="contenedor" style="font-size: 19px; font-weight: bold; color: #f68600;" ngStyle.gt-md="margin-left: 25px;">
                <ul>
                    <li>#QuédateEnCasa Nosotros lo enviamos...</li>
                    <li>JarDepot, ¡Tu equipo Siempre Contigo!</li>
                    <li>#QuédateEnCasa Nosotros lo enviamos...</li>
                </ul>
            </div>
        </mat-card>
    </div>
</div>

