<div class="dialog-container" fxLayout="column" ngStyle.gt-sm="width: 700px;">
    <div class="close-btn-outer" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>Pagar con Paypal</h2>
        <button mat-mini-fab color="warn" (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content style="max-height: 80vh;">
        <div>*Se agregará una comisión del 4% por método de pago Paypal</div>
        <div fxShow="{{deliveryComission}}">*El total de tu cuenta es menor a $3,000.00 se agregará un cargo extra de $300.00 por envío </div>
        <div fxLayout="row wrap" style="margin-top: 20px;margin-bottom: 20px;">
            <div fxFlex="100" class="px-1">
                <mat-checkbox (change)="chageTerms($event)">Acepto terminos y condiciones</mat-checkbox>
                <a (click)="openDeliveryTermsDialog()" style="margin-left: 10px; cursor: pointer; text-decoration: underline blue; color: blue;">Consultalos aquí</a>
            </div>
        </div>
        <form *ngIf="clientForm" [formGroup]="clientForm">
            <div fxLayout="row wrap">
                <div fxFlex="50" fxFlex.lt-sm="100" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput placeholder="Nombre(s)" formControlName="firstName" maxlength="50" required (keyup)="showButtonPaypal()">
                        <mat-error *ngIf="clientForm.controls.firstName.errors?.required">
                            Nombre es requerido
                        </mat-error>
                        <mat-error *ngIf="clientForm.controls.firstName.hasError('minlength')">
                            El nombre es muy corto, mínimo 3 caracteres
                        </mat-error>
                        <mat-error *ngIf="clientForm.controls.firstName.hasError('pattern')">
                            Escribe en nombre válido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Apellido" formControlName="lastName" maxlength="50" required (keyup)="showButtonPaypal()">
                        <mat-error *ngIf="clientForm.controls.lastName.errors?.required">Apellido es requerido
                        </mat-error>
                        <mat-error *ngIf="clientForm.controls.lastName.hasError('minlength')">
                            El apellido es muy corto, mínimo 3 caracteres
                        </mat-error>
                        <mat-error *ngIf="clientForm.controls.lastName.hasError('pattern')">
                            Escribe un apellido válido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" required (keyup)="showButtonPaypal()">
                        <mat-error *ngIf="clientForm.controls.email.errors?.required">Correo electrónico es requerido</mat-error>
                        <mat-error *ngIf="clientForm.controls.email.hasError('invalidEmail')">El Correo electrónico es invalido</mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex="50" fxFlex.lt-sm="100" class="px-1">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Teléfono (10 dígitos)</mat-label>
                        <input matInput placeholder="Teléfono" formControlName="phone" maxlength="10" required (keyup)="showButtonPaypal()">
                        <mat-error *ngIf="clientForm.controls.phone.errors?.required">Teléfono es requerido</mat-error>
                        <mat-error *ngIf="clientForm.controls.phone.hasError('pattern')">
                            El teléfono es invalido, ingresa números
                        </mat-error>
                        <mat-error *ngIf="clientForm.controls.phone.hasError('minlength')">
                            El teléfono es muy corto, son 10 números
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="py-1 text-muted" fxLayout="row" fxFlexAlign="end end">
            <div fxFlex="100">
                <div id="text-container">
                    <span fxShow="{{showButton}}">Por favor rellena todos los campos</span>
                    <br>
                    <span fxShow="{{terms}}">Acepta los terminos y condiciones</span>
                </div>
                <div id="paypal-button-container" fxHide="{{showButton || terms}}"></div>
            </div>
        </div>
    </div>
</div>
