<mat-sidenav-container style="display: flex;">

    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" [style.position]="sidenav.opened ? 'initial' : 'absolute'" class="filter-sidenav" perfectScrollbar>
        <app-sections-side></app-sections-side>
    </mat-sidenav>

    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
            <div fxFlex="100">
                <mat-card class="p-0 mat-elevation-z6 box">
                    <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                        <img src="assets/images/logos/logoJardepot.png" alt="" style="height: 50px; margin: 20px;">
                        <h1 class="error"><mat-icon class="mat-icon-xlg" style="color: #f68600 !important;">error</mat-icon> 404</h1>
                        <h1 class="error" style="height: 50px; margin: 10px;">Página no encontrada</h1>
                    </div>
                    <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                        <div >
                            <mat-card *ngIf="searchSend == false"  fxLayout="row"  fxLayout.lt-md="row wrap" class="p-0 text-center">
                                <div fxFlex="100" fxFlex.sm="100" ngClass.xs="mt-2" class="contact-information">
                                    <h1 class="mt-1">¿No encontraste tu producto?</h1>
                                    <h2 class="mt-1">Comunícate al:</h2>
                                    <div fxLayout="row" fxLayoutAlign="center" class="prices">
                                        <div fxLayout="column" fxLayoutAlign="center" class="text-center" style="font-size: 24px">
                                            <p class="mt-1"><mat-icon style="font-size: 25px;">call</mat-icon>&nbsp;800 212 9225</p>
                                            <p><fa-icon [icon]="faWhatsapp" style="font-size: 25px;"></fa-icon>&nbsp;55 5185 7805</p>
                                            <br>
                                            <p> Horario de atención: 9am a 6pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex="100" fxFlex.sm="100" ngClass.xs="mt-2" ngClass.sm="mt-3">
                                    <h1 class="mt-2">Nosotros te llamamos, ingresa tus datos.</h1>
                                    <div class="m-0 divider"></div>
                                    <form [formGroup]="form" (ngSubmit)="onSubmitTeLlamamos(form.value)" fxLayout="row wrap">
                                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Nombre Completo</mat-label>
                                                <input matInput placeholder="Tu nombre" formControlName="nombre" required>
                                                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                                    El nombre es obligatorio
                                                </mat-error>
                                                <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                                    Es un nombre muy corto, mínimo 4 caracteres
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Teléfono</mat-label>
                                                <input matInput placeholder="Tu teléfono" formControlName="telefono" maxlength="10" required>
                                                <mat-error *ngIf="form.controls.telefono.errors?.required">
                                                    El teléfono es obligatorio
                                                </mat-error>
                                                <mat-error *ngIf="form.controls.telefono.hasError('pattern')">
                                                    El teléfono es invalido, ingresa números
                                                </mat-error>
                                                <mat-error *ngIf="form.controls.telefono.hasError('minlength')">
                                                    El teléfono es muy corto, son 10 números
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="100" class="px-1 mt-1">
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Sus comentarios</mat-label>
                                                <textarea matInput placeholder="Tus comentarios" formControlName="comentario" rows="3"></textarea>
                                                <mat-error *ngIf="form.controls.comentario.hasError('minlength')">Mínimo 4 caracteres</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div fxFlex="100" class="mt-1 text-center w-100" style="margin-bottom: 10px">
                                            <button mat-raised-button class="bg-color-jd" type="submit">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                            </mat-card>
                            <mat-card *ngIf="searchSend == true" class="text-center">
                                <div fxLayout="row" fxLayoutAlign="center" class="prices">
                                    <div fxLayout="column" fxLayoutAlign="center" class="text-center">
                                        <h2 class="mt-1">Jardepot agradece tu confianza.</h2>
                                        <div class="divider"></div>
                                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1" >Nuestro equipo responderá tu solicitud a la brevedad.</p>
                                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1">Puedes contactarnos a través del correo: ventas@jardepot.com, o por el telefono al (777) 399 08 09</p>
                                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1">en un horario de Lunes a Viernes de 9am a 6pm y Sábados de 9am a 2pm.</p>
                                        <p fxLayout="row" fxLayoutAlign="center" class="mt-2">Será un gusto atenderte.</p>
                                        <div fxFlex="100" class="mt-1 text-center w-100">
                                            <a [routerLink]="['/']" mat-raised-button class="bg-color-jd">
                                                Regresar al Inicio
                                            </a>
                                        </div>
                                        <div class="mt-2"></div>
                                    </div>
                                </div>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>


