
.filter-sidenav{
    width: 280px;
    border: 0 !important;
    .mat-expansion-panel-header-title {
        text-transform: uppercase;
    }
}
.filter-row{
    background: #fff;
    padding: 8px 12px;
}
.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}
mat-sidenav-content {
    width: 80%;
    margin-left: 0 !important;
    flex: 1 1 auto;
    padding-left: 10px;
}

mat-sidenav {
    position: absolute;
    flex: 0 1 auto;
}
