<!-- Diseño en el grid de todos los productos -->
<div *ngIf="type!='cart' && type!='product'" fxLayout="column" fxLayout.xs="column" [fxLayoutAlign]="align" class="text-muted" style="height: 40px;">
<!--    <div *ngIf="product?.availibilityCount > 0 && type!='carousel'">-->
<!--        <bdi>-->
<!--            <span class="fw-500">Cantidad:</span>-->
<!--            <br>-->
<!--            <button mat-icon-button matTooltip="Quitar" (click)="decrement()"><mat-icon>remove</mat-icon></button>-->
<!--            <span> {{count}} </span>-->
<!--            <button mat-icon-button matTooltip="Más" (click)="increment()"><mat-icon>add</mat-icon></button>-->
<!--        </bdi>-->
<!--    </div>-->
    <div *ngIf="product?.stock">
        <button mat-button matTooltip="Agregar" [disabled]="busy" *ngIf="product?.availibilityCount > 0" (click)="addToCart(product)"><mat-icon class="fn-color-jd">shopping_cart</mat-icon> Agregar al carrito</button>
        <button *ngIf="type!='all'" mat-icon-button matTooltip="Vista rápida" (click)="openProductDialog(product)"><mat-icon>remove_red_eye</mat-icon></button>
    </div>
</div>

<!-- Organización en la parte de producto -->
<div *ngIf="type=='product' && product?.stock" fxLayout.gt="column" fxLayout="row wrap" fxLayoutAlign="start start" class="text-muted p-1">
    <div *ngIf="product?.availibilityCount > 0" fxFlex.gt-md="100" fxFlex="40">
        <bdi>
            <span class="fw-500">Cantidad:</span>
            <br>
            <button mat-icon-button matTooltip="Quitar" (click)="decrement()"><mat-icon>remove</mat-icon></button>
            <span> {{count}} </span>
            <button mat-icon-button matTooltip="Más" (click)="increment()"><mat-icon>add</mat-icon></button>
        </bdi>
    </div>
    <div fxFlex.gt-md="100" fxFlex="50" class="area-btn-shopping">
        <button mat-button matTooltip="Agregar" class="btn-shopping" [disabled]="busy" *ngIf="product?.availibilityCount > 0" (click)="addToCart(product)"><!--<mat-icon>shopping_cart</mat-icon> -->Agregar al carrito</button>
    </div>
</div>


<!-- Organización en la pate del carrito -->
<div *ngIf="type=='cart' && product?.stock" fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" class="text-muted">
    <div *ngIf="product?.availibilityCount > 0">
        <bdi>
            <button mat-icon-button matTooltip="Quitar" [disabled]="busy" (click)="decrement()"><mat-icon>remove</mat-icon></button>
            <span> {{count}} </span>
            <button mat-icon-button matTooltip="Más" [disabled]="busy" (click)="increment()"><mat-icon>add</mat-icon></button>
        </bdi>
    </div>
</div>
