

<mat-accordion displayMode="flat" multi="true">
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Secciones por tipo de productos</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-buttons">
            <a routerLink="/equipos/{{changeStringBrand(type.name)}}" mat-button  fxFlex="46" *ngFor="let type of productTypes" class="bg-color-jd" title="{{type.name}}">
                <h2 style="font-size: 14px; font-weight: 500;">{{type.name}}</h2>
            </a>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>Secciones por marcas</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-brands">

            <a mat-button *ngFor="let brand of brands" routerLink="/marcas/{{changeStringBrand(brand.name)}}" title="{{brand.name}}">
                <img [src]="brand.image" [title]="brand.name" [alt]="brand.name"/>
            </a>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel  expanded *ngFor="let add of additional">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>{{add.name}}</h4>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-buttons">
            <a routerLink="/{{changeStringBrand(add.name)}}/{{changeStringBrand(option.name)}}" mat-button  fxFlex="46" *ngFor="let option of add.options" class="bg-color-jd" title="{{add.name}}">
                <h2 style="font-size: 14px; font-weight: 500;">{{option.name}}</h2>
            </a>
        </div>
    </mat-expansion-panel>

</mat-accordion>
