<div class="dialog-container" fxLayout="column" ngStyle.gt-sm="width: 700px;">
    <div class="close-btn-outer" fxLayout="row" fxLayoutAlign="space-between center">
        <h2>{{title}}</h2>
        <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content style="max-height: 80vh;">
        <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100">
                <div class="py-1 text-muted" fxLayout="row wrap" >
                    <strong [innerHTML]="body"></strong>
                </div>
            </div>
        </div>
    </div>
</div>
