.filter-sidenav{
    width: 280px;
    max-width: 280px !important;
    border: 0 !important;
    // .mat-expansion-panel-header-title {
    //text-transform: uppercase;
    //  }
}
.filter-row{
    background: #424242;
    padding: 8px 12px;
    color:#fff !important;
    //height: 40px;
}

.description-row{
    background: #fff;
    padding: 8px 12px;
}

.all-products{
    min-height: 400px;
    padding: 2px;
    overflow: hidden;
    &.p-left{
        padding-left: 16px;
    }
}

.products-wrapper{
    margin: 8px -8px;
    .col{
        padding: 8px;
    }
}

.categories-wrapper{
    position: relative;
    max-height: 300px;
}

.filter-buttons{
    button, a{
        min-width: 36px;
        margin: 0 6px 10px 0;
        padding: 0;
    }
}

.filter-price{
    .mat-slider-horizontal{
        min-width: 110px;
    }
}

.filter-brands{
    button, a{
        height: 44px;
        min-width: 66px;
        margin: 0 6px 10px 0;
        padding: 0px;
        overflow: hidden;
        img{
            width: 66px;
        }
    }
}

.thin-button{
    height: 22px !important;
    line-height: 15px !important;
}

.fn-color-inStock{
    color: #15a225 !important;
    font-weight: bold;
    font-size: 16px;
}

.legal-text{
    font-size: 12px;
    font-weight: 700;
}

::ng-deep div.mat-select-value {
    color: #fff !important;
}

::ng-deep #mat-select-0 > div > div.mat-select-arrow-wrapper {
    color: #fff !important;
}

::ng-deep #app > app-pages > mat-sidenav-container > mat-sidenav-content > div > app-products > mat-sidenav-container > mat-sidenav-content > div.filter-row.mat-elevation-z1.text-muted.ng-star-inserted >
div:nth-child(1) > mat-form-field > div > div.mat-form-field-underline {
    background-color: #fff;
}

.ribbon span{
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    moz-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -khtml-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -o-box-shadow: 0 0 4px rgba(0,0,0,.6);
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #de1f21 !important;
    padding: 0;
    font-weight: 700;
}

.ribbon-top-right span {
    left: -70px;
    top: 32px;
    transform: rotate(-45deg);
}

.free-delivery{
    width: 90px;
    position: absolute;
    top: 157px;
    right: 0px;
}

mat-sidenav-content {
    width: 80%;
    margin-left: 0 !important;
    flex: 1 1 auto;
    padding-left: 10px;
}

mat-sidenav {
    position: absolute;
    flex: 0 1 auto;
}

.btn-comprar{
    color: white;
    background-color: #de1f21 !important;
    border-radius: 10px;
    width: 110px;
    font-size: 18px;
    border: none;
    padding: 3px;
    box-shadow: 1px 1px 1px #999;
}
