<mat-sidenav-container style="display: flex;">

    <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" [style.position]="sidenavOpen ? 'initial' : 'absolute'" perfectScrollbar>

        <mat-expansion-panel  expanded *ngIf="busqueda">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Filtros de {{nivel2}}</h4>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!--<div fxLayout="column" fxLayoutAlign="space-between center" class="text-muted">
                <div fxLayout="column" fxLayoutAlign="space-between center" class="mt-2">
                    <mat-radio-button value="relevant" (change)="orderBy($event)">Relevancia</mat-radio-button>
                    <mat-radio-button value="low-high" (change)="orderBy($event)">Precio: menos - más</mat-radio-button>
                    <mat-radio-button value="high-low" (change)="orderBy($event)">Precio: más - menos</mat-radio-button>
                </div>
            </div>-->

            <div fxLayout="column" fxLayoutAlign="space-between center" class="text-muted mt-2">
                <h3>Organizar por {{typeProductFilter}}: </h3>
                <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="filter-brands mt-2">
                    <button fxFlex="46" mat-raised-button *ngFor="let section of sections"
                            (click)="addCategoriteFilter(section.name, $event)"
                            [class.selected]="!section.selected" class="bg-color-jd btn-section thin-button"
                            style="height: auto !important; width: auto !important;padding: 4px;white-space:pre-line;">
                        {{section.name}}
                    </button>
                </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="space-between center" class="text-muted mt-2"
                 *ngFor="let filter of listFilters">
                <h3>Por {{filter.name}}: </h3>
                <div *ngIf="filter.type == 1" fxLayout="row wrap" fxLayoutAlign="space-between center"
                     class="filter-brands mt-2" style="width: 100%">
                    <button fxFlex="46" mat-raised-button *ngFor="let value of filter.values" id="btn2-{{value.name}}"
                            (click)="addCharacteristicFilter(value.id, filter, $event)"
                            [class.selected]="!value.selected" class="bg-color-jd thin-button"
                            [ngClass]="'tipo-'+filter.characteristic" style="width: auto; padding: 4px;">
                        {{value.name}}
                    </button>
                </div>

                <div *ngIf="filter.type == 2" fxLayout="row wrap" fxLayoutAlign="space-between center"
                     class="filter-brands mt-2" style="width: 100%">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
                        <span>De: <b>{{activeFilters['range'][filter.characteristic] | number : '1.1-1'}} {{filter.measure}} </b> o menos</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="filter-price" style="width: 100%;">
                        <mat-slider step="{{(filter.valueMax-filter.valueMin)/10}}"
                                    (change)="getChangeRange(filter.characteristic)" color="primary"
                                    max="{{filter.valueMax}}" min="{{filter.valueMin}}" thumb-label="true"
                                    [(ngModel)]="activeFilters['range'][filter.characteristic]"
                                    style="width: 100%">

                        </mat-slider>
                    </div>
                </div>

                <div *ngIf="filter.type == 3" fxLayout="row wrap" fxLayoutAlign="space-between center"
                     class="filter-brands mt-2" style="width: 100%">
                    <button fxFlex="46" mat-raised-button (click)="addCharacteristicFilter(1, filter, $event)"
                            [ngClass]="'tipo-'+filter.characteristic" [class.selected]="!filter.selected"
                            class="bg-color-jd btn-section" style="width: auto; padding: 4px;">
                        Si
                    </button>
                    <button fxFlex="46" mat-raised-button (click)="addCharacteristicFilter(0, filter, $event)"
                            [ngClass]="'tipo-'+filter.characteristic" [class.selected]="!filter.selected"
                            class="bg-color-jd btn-section" style="width: auto; padding: 4px;">
                        No
                    </button>
                </div>
            </div>

        </mat-expansion-panel>


        <app-sections-side></app-sections-side>

    </mat-sidenav>


    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign.gt-sm="start start" fxLayoutAlign.sm="space-between center"
             class="description-row mat-elevation-z1 text-muted">
            <h1>{{titleProducts}}</h1>
        </div>
        <div *ngIf="busquedaEmpty != true"  class="mt-1"> </div>

        <div *ngIf="busquedaEmpty != true" fxLayout="row" [ngStyle.gt-sm]="{'height':'40px'}"  fxLayout.xs="column"
             fxLayoutAlign.gt-sm="space-between center" fxLayoutAlign.sm="space-between center"
             class="filter-row mat-elevation-z1 text-muted">

            <div fxLayout="row" fxLayoutAlign="start center" >
                <h4 style="margin-right: 10px;color: #fff !important">Ordenar por: </h4>
                <mat-form-field>
                    <mat-select class="mat-select-value2" [(value)]="orderByOption" (selectionChange)="moveToFirstPage()">
                        <mat-option *ngIf="textSearch !== ''" value="default">
                            Defecto
                        </mat-option>
                        <mat-option value="relevant">
                            Relevancia
                        </mat-option>
                        <mat-option value="low-high">
                            Menor Precio
                        </mat-option>
                        <mat-option value="high-low">
                            Mayor Precio
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-button *ngIf="!sidenavOpen" (click)="sidenav.toggle()" class="bg-color-jd">
                Filtros y Secciones
            </button>
            <div style="color: #fff !important">
                <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                    Mostrar {{count}}
                    <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="countsMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                            <span>{{count}}</span>
                        </button>
                    </span>
                </mat-menu>
                <button mat-icon-button (click)="changeViewType('list', 100)">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button *ngIf="sidenavOpen" mat-icon-button (click)="changeViewType('grid', 25)">
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="viewType == 'grid' && busquedaEmpty == false" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of products | orderBy : orderByOption | paginate: { itemsPerPage: count, currentPage: page } "
                 fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center" style="overflow: hidden;">
                    <!--<mat-chip-list *ngIf="product.discount" style="left: 10px;">
                        <mat-chip selected="true" class="bg-color-oferta">{{product.discount}}</mat-chip>
                    </mat-chip-list>-->
                    <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]"
                       class="image-link">
                        <div>
                            <div *ngIf="product.discount" class="ribbon ribbon-top-right">
                                <span>Oferta</span>
                            </div>
                            <div style="width: 100%; height: 231px; ">
                                <img class="img-product" [src]="product.images[0].medium" (error)="handleImgError($event)" style="max-height: 231px;"
                                     title="{{product?.productType+' '+product?.brand+' '+product?.mpn}}" alt="{{product.productType+' '+product.brand+' '+product.mpn}}">
                            </div>
                            <img src="../assets/images/otros/gratis.png" class="free-delivery">
                        </div>
                    </a>
                    <h4 class="category text-muted">{{ (appService.Data.categories | filterById : product.categoryId)?.name }}</h4>
                    <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]"
                       class="title-muted text-truncate">
                        {{product.productType}}<br>
                        {{product.brand}} {{product.mpn}}
                    </a>
                    <div fxLayout="row" fxLayoutAlign="center" class="prices" style="height: 110px;">
                        <div fxLayout="column" fxLayoutAlign="center" *ngIf="product.stock">
                            <p class="old-price text-muted"><span
                                    *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span>
                            </p>
                            <p class="new-price {{product.oldPrice ? 'fn-color-jd':''}} " style="color: #de1f21 !important;">
                                ${{product.newPrice | number : '1.2-2'}}
                            </p>
                            <div  fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px; margin-bottom: 10px;">
                                <button class="btn-comprar" (click)="addToCart(product)" style="cursor: pointer"><mat-icon class="mat-icon-sm m-0">shopping_cart</mat-icon> Comprar</button>
                            </div>
                            <p>
                                <span *ngIf="product?.inventory > 0" class="fn-color-inStock"><mat-icon class="mat-icon-sm m-0">flash_on</mat-icon>&nbsp;Envío de volada</span>&nbsp;
                            </p>
                            <p>
                                <span style="font-size: 11px; font-weight: bold; cursor: pointer;" (click)="openDeliveryTermsDialog()">*Envio gratis a partir de $3,000 de compra</span>
                            </p>
                            <p>
                                <span style="font-size: 12px; font-weight: bold; cursor: pointer;" (click)="openDeliveryTermsDialog()">*Consulte condiciones.</span>
                            </p>
                        </div>
                    </div>
                    <p class="py-1 text-muted lh" [style.height]="viewCol == 25 ? '74px' : '94px'"
                       matTooltip="{{product.description}}">{{ product.description | truncate :90 }} </p>

                    <div class="divider mt-2"></div>
                    <div class="icons">
                        <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center">
                            <p class="legal-text">*Sujeto a existencias.</p>
                            <p class="legal-text">*Precios sujetos a cambio sin previo aviso.</p>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="viewType == 'list' && busquedaEmpty == false" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of products | orderBy : orderByOption | paginate: { itemsPerPage: count, currentPage: page }"
                 fxFlex="100" class="col">
                <mat-card class="product-item" style="overflow: hidden;">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]"
                               class="image-link">
                                <div style="position: relative; overflow: hidden;">
                                    <div *ngIf="product.discount" class="ribbon ribbon-top-right">
                                        <span>Oferta</span>
                                    </div>
                                    <img [src]="product.images[0].medium" title="{{product?.productType+' '+product?.brand+' '+product?.mpn}}"
                                         alt="{{product.productType+' '+product.brand+' '+product.mpn}}" (error)="handleImgError($event)">
                                    <div style="position: absolute; right: 0px; bottom: 0px;">
                                        <img src="../assets/images/otros/gratis.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted">{{ (appService.Data.categories | filterById : product.categoryId)?.name }}</h4>
                            <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]"
                               class="title">
                                <h2 style="font-weight: 500; font-size: 18px;">
                                    {{product.productType}}<br>
                                    {{product.brand}} {{product.mpn}}
                                </h2>
                            </a>
                            <p class="py-1 text-muted lh">{{product.description}}</p>
                            <p><span *ngIf="product?.inventory > 0" class="fn-color-inStock"><mat-icon
                                    class="mat-icon-sm m-0">flash_on</mat-icon>&nbsp;Envío de volada</span>&nbsp;
                            </p>
                            <p>
                                <span style="font-size: 11px; font-weight: bold; cursor: pointer;" (click)="openDeliveryTermsDialog()">*Envio gratis a partir de $3,000 de compra</span>
                            </p>
                            <p>
                                <span style="font-size: 12px; font-weight: bold; cursor: pointer;" (click)="openDeliveryTermsDialog()">*Consulte condiciones.</span>
                            </p>
                            <div fxLayout="row" fxLayoutAlign="start" class="prices">
                                <div fxLayout="column" fxLayoutAlign="start start" *ngIf="product.stock">
                                    <p class="old-price text-muted"><span
                                            *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price" style="color: #de1f21 !important;">${{product.newPrice | number : '1.2-2'}}</p>
                                    <p class="legal-text">*Sujeto a existencias.</p>
                                    <p class="legal-text">*Precios sujetos a cambio sin previo aviso.</p>
                                </div>
                            </div>
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product"
                                              (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="busqueda == false && busquedaEmpty == true" >
            <mat-card *ngIf="searchSend == false"  fxLayout="row"  fxLayout.lt-md="row wrap" class="p-0 text-center">
                <div fxFlex="100" fxFlex.sm="100" ngClass.xs="mt-2" class="contact-information">
                    <h1 class="mt-1">¿No encontraste tu producto?</h1>
                    <h2 class="mt-1">Comunícate al:</h2>
                    <div fxLayout="row" fxLayoutAlign="center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center" class="text-center" style="font-size: 24px">
                            <p class="mt-1"><mat-icon style="font-size: 25px;">call</mat-icon>&nbsp;800 212 9225</p>
                            <p><fa-icon [icon]="faWhatsapp" style="font-size: 25px;"></fa-icon>&nbsp;55 5185 7805</p>
                            <br>
                            <p> Horario de atención: 9am a 6pm</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.sm="100" ngClass.xs="mt-2" ngClass.sm="mt-3">
                    <h1 class="mt-2">Nosotros te llamamos, ingresa tus datos.</h1>
                    <div class="m-0 divider"></div>
                    <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmitTeLlamamos(form.value)" fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Nombre Completo</mat-label>
                                <input matInput placeholder="Tu nombre" formControlName="nombre" required>
                                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es obligatorio
                                </mat-error>
                                <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    Es un nombre muy corto, mínimo 4 caracteres
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1 mt-2">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Tu teléfono" formControlName="telefono" maxlength="10" required>
                                <mat-error *ngIf="form.controls.telefono.errors?.required">
                                    El teléfono es obligatorio
                                </mat-error>
                                <mat-error *ngIf="form.controls.telefono.hasError('pattern')">
                                    El teléfono es invalido, ingresa números
                                </mat-error>
                                <mat-error *ngIf="form.controls.telefono.hasError('minlength')">
                                    El teléfono es muy corto, son 10 números
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" class="px-1 mt-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Sus comentarios</mat-label>
                                <textarea matInput placeholder="Tus comentarios" formControlName="comentario" rows="3"></textarea>
                                <mat-error *ngIf="form.controls.comentario.hasError('minlength')">Mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" class="mt-1 text-center w-100" style="margin-bottom: 10px">
                            <button mat-raised-button class="bg-color-jd" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </mat-card>
            <mat-card *ngIf="searchSend == true" class="text-center">
                <div fxLayout="row" fxLayoutAlign="center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center" class="text-center">
                        <h2 class="mt-1">Jardepot agradece tu confianza.</h2>
                        <div class="divider"></div>
                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1" >Nuestro equipo responderá tu solicitud a la brevedad.</p>
                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1">Puedes contactarnos a través del correo: ventas@jardepot.com, o por el telefono al (777) 399 08 09</p>
                        <p fxLayout="row" fxLayoutAlign="center" class="mt-1">en un horario de Lunes a Viernes de 9am a 6pm y Sábados de 9am a 2pm.</p>
                        <p fxLayout="row" fxLayoutAlign="center" class="mt-2">Será un gusto atenderte.</p>
                        <div fxFlex="100" class="mt-1 text-center w-100">
                            <a [routerLink]="['/']" mat-raised-button class="bg-color-jd">
                                Regresar al Inicio
                            </a>
                        </div>
                        <div class="mt-2"></div>
                    </div>
                </div>
            </mat-card>
        </div>

        <div *ngIf="products.length > 0" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
                    <pagination-controls class="product-pagination" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>

        <div class="mt-2"></div>

        <div *ngIf="busquedaEmpty != true && descriptionNivel2 != ''" fxLayout="column" fxLayout.xs="column" fxLayoutAlign.gt-sm="start start" fxLayoutAlign.sm="space-between center"
             class="description-row mat-elevation-z1 text-muted">
            <div class="divider mt-2"></div>
            <div [innerHTML]="descriptionNivel2 | sanitizeHtml">
            </div>
        </div>

        <div fxLayout="row wrap" class="info-bar" fxShow="" fxHide.lt-md="">
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">build</mat-icon>
                    <div class="content">
                        <p style="color: rgba(0, 0, 0, 0.87) !important;">Garantía y Refacciones</p>
                        <span class="text-muted m-0">Todos nuestros equipos cuentan con garantía, contra defectos de fábrica y contamos con las refacciones originales de los mismos.</span>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mat-icon-xlg fn-color-jd mt-2">local_shipping</mat-icon>
                    <div class="content">
                        <p style="color: rgba(0, 0, 0, 0.87) !important;">Envío Gratis</p>
                        <!--                <span class="text-muted m-0" title="{{text}}" [innerHTML]="text  | truncate :120 "></span>-->
                        <span class="text-muted m-0">En compras superiores a $3,000 pesos.</span>
                        <p> <a href="javascript: void(0)" (click)="openDeliveryTermsDialog()" style="color: rgba(0, 0, 0, 0.54) !important;">*Condiciones</a></p>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">monetization_on</mat-icon>
                    <div class="content">
                        <p style="color: rgba(0, 0, 0, 0.87) !important;">Paga Seguro</p>
                        <!--                <span class="text-muted m-0">Aceptamos pagos mediante PayPal, Mercado Pago, transferencia y Deposito Bancario.</span>-->
                        <span class="text-muted m-0">Aceptamos pagos mediante PayPal, transferencia y Deposito Bancario.</span>
                    </div>
                </mat-card>
            </div>
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-xs="50">
                <mat-card class="light-block" fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon class="mat-icon-xlg m-0 fn-color-jd mt-2">perm_phone_msg</mat-icon>
                    <div class="content">
                        <p style="color: rgba(0, 0, 0, 0.87) !important;">Soporte y Asesoría</p>
                        <span class="text-muted m-0">¿Dudas sobre tu equipo?, nuestros ingenieros te pueden apoyar por teléfono, Whatsapp o en nuestras tiendas.</span>
                    </div>
                </mat-card>
            </div>
        </div>

        <app-brands-carousel [brands]="distributions"></app-brands-carousel>

    </mat-sidenav-content>

</mat-sidenav-container>
