<div *ngFor="let menu of menuTopBar" class="menu-item">

    <a mat-button fxLayout="row" fxLayoutAlign="start center"
       (click)="onClick(menu.nivel1)" [id]="'menu-item-'+menu.nivel1">
        <span class="menu-title">{{menu.nivel1}}</span>
        <mat-icon class="menu-expand-icon transition-2">arrow_drop_down</mat-icon>
    </a>

    <div  class="sub-menu" [id]="'sub-menu-'+menu.nivel1">
        <a *ngFor="let submenu of menu.nivel2" mat-button
           fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
           routerLink="/{{changeString(menu.nivel1)}}/{{changeString(submenu)}}"
           (click)="onClick(menu.nivel1)" [id]="'menu-item-'+menu.nivel1">
            <span class="menu-title">{{submenu}}</span>
        </a>
    </div>

</div>
