<div #swiperEl class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
        <div *ngFor="let product of products; let last = last" class="swiper-slide">
            <mat-card class="product-item" style="overflow: hidden;">
                <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="image-link">
                    <div *ngIf="product.discount" class="ribbon ribbon-top-right">
                        <span>Oferta</span>
                    </div>
                    <div style="width: 100%; height: 187px;">
                        <img [attr.data-src]="product.images[0].medium" class="swiper-lazy" title="{{product?.productType+' '+product?.brand+' '+product?.mpn}}"
                             alt="{{product?.productType+' '+product?.brand+' '+product?.mpn}}" (error)="handleImgError($event)" style="max-height: 187px;"/>
                    </div>
                    <img src="../assets/images/otros/gratis.png" class="free-delivery">
                    <div class="swiper-lazy-preloader"></div>
                </a>
                <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>
                <a [routerLink]="['/catalogo/', changeStringBrand(product.brand), changeString(product.productType, product.brand, product.mpn)]" class="title text-truncate">
                    {{product.name}}
                </a>
                <div fxLayout="row" fxLayoutAlign="center center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center center" style="height: 39px;">
                        <p class="old-price text-muted"><span *ngIf="product.oldPrice && product.stock">${{product.oldPrice | number : '1.2-2'}}</span></p>
                        <p class="new-price" *ngIf="product.stock">${{product.newPrice | number : '1.2-2'}}</p>
                    </div>
                </div>
                <div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [product]="product" [type]="'carousel'" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>
