.swiper-container{
    padding: 16px 2px 2px 2px;
    .swiper-slide{
        text-align: center;
    }
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    pointer-events: auto;
}

.ribbon span{
    position: absolute;
    display: block;
    width: 225px;
    padding: 5px 0;
    moz-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -khtml-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.6);
    -o-box-shadow: 0 0 4px rgba(0,0,0,.6);
    color: #fff;
    font-size: 15px;
    text-align: center;
    background-color: #de1f21 !important;
    padding: 0;
    font-weight: 700;
}

.ribbon-top-right span {
    left: -70px;
    top: 32px;
    transform: rotate(-45deg);
}

.free-delivery{
    width: 80px;
    position: absolute;
    top: 123px;
    right: 0px;
}
