.review-order-table.mat-table {
    display: block;
    overflow-x:auto;
    .mat-row, .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
        min-width: 760px;
    }
    .mat-row{
        min-height: 60px;
    }
    .mat-cell, .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
    .mat-header-cell {
        font-size: 14px;
    }
    .mat-cell{
        img{
            width: 60px;
        }
    }
}

.bank-card{
    .img-bank{
        width: 100%;
        max-width: 300px;
        max-height: 125px;
    }
    p{
        font-size: 15px;
        strong{
            color: black;
            font-size: 18px;
        }
    }
}

.mat-step-header:nth-child(9) {
    pointer-events: none !important;
}

#cdk-step-label-1-4 {
    pointer-events: none !important;
}

::ng-deep .mat-horizontal-stepper-header:nth-child(9){
    pointer-events: none !important;
}

::ng-deep #cdk-step-label-1-4{
    pointer-events: none !important;
}


@media screen and (max-width: 960px) {
    .mat-table {
        border: 0;
        vertical-align: middle
    }

    .mat-table caption {
        font-size: 1em;
    }

    /*  Enable this to hide header
    */
    .mat-table .mat-header-cell {

        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height:30px;
        margin-bottom: 4%;
    }
    .mat-table .mat-row .mat-cell:nth-child(1){
        text-align: center;
        height: 150px;
    }
    .mat-table .mat-row .mat-cell:nth-child(1):before {
        display: none;
    }
    .mat-table .mat-cell:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        text-transform: capitalize;
        font-weight: normal;

        font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
        border-bottom: 0;
    }
    .mat-table .mat-cell:first-child {
        margin-top: 4%;
    }
}


::ng-deep div.mat-select-value {
    color: #000 !important;
}

::ng-deep #mat-select-0 > div > div.mat-select-arrow-wrapper {
    color: #000 !important;
}
