<mat-horizontal-stepper #horizontalStepper linear="true" class="mat-elevation-z2" fxShow="false" fxShow.gt-sm>
  <mat-step [stepControl]="billingForm" label="Datos de envio">
    <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre(s)</mat-label>
            <input matInput placeholder="Nombre(s)" formControlName="firstName" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.firstName.errors?.required">
              Nombre es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.firstName.hasError('minlength')">
              El nombre es muy corto, mínimo 3 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.firstName.hasError('pattern')">
              Escribe en nombre válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellido" formControlName="lastName" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Apellido es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.lastName.hasError('minlength')">
              El apellido es muy corto, mínimo 3 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.lastName.hasError('pattern')">
              Escribe un apellido válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="billingForm.controls.email.errors?.required">Correo electrónico es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.email.hasError('invalidEmail')">El Correo electrónico es invalido</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" formControlName="phone" maxlength="10" required>
            <mat-error *ngIf="billingForm.controls.phone.errors?.required">Teléfono es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.phone.hasError('pattern')">
              El teléfono es invalido, ingresa números
            </mat-error>
            <mat-error *ngIf="billingForm.controls.phone.hasError('minlength')">
              El teléfono es muy corto, son 10 números
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="state" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.state.errors?.required">Estado es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.state.hasError('minlength')">
              El estado es muy corto, mínimo 5 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.state.hasError('pattern')">
              Escribe un estado válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ciudad/Municipio</mat-label>
            <input matInput placeholder="Ciudad/Municipio" formControlName="city" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.city.errors?.required">Ciudad es requerida</mat-error>
            <mat-error *ngIf="billingForm.controls.city.hasError('minlength')">
              El municipio es muy corto, mínimo 5 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.city.hasError('pattern')">
              Escribe un municipio válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código postal</mat-label>
            <input matInput placeholder="Código postal" formControlName="zip" maxlength="5" required>
            <mat-error *ngIf="billingForm.controls.zip.errors?.required">Código postal es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.zip.hasError('pattern')">
              El Código postal es invalido, ingresa números
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Colonia</mat-label>
            <input matInput placeholder="Colonia" formControlName="suburb" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.suburb.errors?.required">La colonia es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.suburb.hasError('minlength')">
              El nombre de la colonia es muy corto, mínimo 5 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección (Calle número interior, número exterior )"
                   formControlName="address" maxlength="100" required>
            <mat-error *ngIf="billingForm.controls.address.errors?.required">La dirección es requerida</mat-error>
            <mat-error *ngIf="billingForm.controls.address.hasError('minlength')">
              La dirección es muy corta, mínimo 5 caracteres
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Método de entrega">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required
                       name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1">
          <b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
      </mat-radio-group>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
                class="mr-1">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentForm" label="Método de pago">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Elige método para realizar tu pago</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>
        <mat-radio-group formControlName="paymentMethod" fxLayout="column" fxLayoutAlign="center" required
                         name="methods" (change)="calculateTotal()">
          <mat-radio-button *ngFor="let method of paymentMethods" color="primary" [value]="method" class="mt-1">
            <b>{{method.name}}</b> {{method.desc}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
                class="mr-1">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Vista previa de la orden">
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Carrito de compra</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Producto</div>
            <div class="mat-header-cell">Nombre</div>
            <div class="mat-header-cell">Precio unitario</div>
            <div class="mat-header-cell">Cantidad</div>
            <div class="mat-header-cell">Total</div>
          </div>
          <div *ngFor="let product of appService.Data.cartList" class="mat-row">
            <div class="mat-cell"><img [src]="product.images[0].small" (error)="handleImgError($event)"></div>
            <div class="mat-cell">{{product.name}}</div>
            <div class="mat-cell">${{product.newPrice | number : '1.2-2'}}</div>
            <div class="mat-cell text-muted"> {{product.cartCount}} </div>
            <div class="mat-cell">${{ (product.newPrice * product.cartCount) | number : '1.2-2'}}</div>
          </div>
          <div *ngIf="paymentForm.controls.paymentMethod.value['value'] != 'Transferencia'" class="mat-row">
            <div class="mat-cell"><img [src]="'assets/images/productos/--.png'"></div>
            <div class="mat-cell">Comisión por forma de pago</div>
            <div class="mat-cell">${{ (paymentForm.controls.paymentMethod.value['cost'] - 1) * appService.Data.totalPrice | number : '1.2-2'}}</div>
            <div class="mat-cell text-muted"> 1 </div>
            <div class="mat-cell">${{ (paymentForm.controls.paymentMethod.value['cost'] - 1) * appService.Data.totalPrice | number : '1.2-2'}}</div>
          </div>
          <div *ngIf="deliveryForm.controls.deliveryMethod.value['min'] > appService.Data.totalPrice" class="mat-row">
            <div class="mat-cell"><img [src]="'assets/images/productos/--.png'"></div>
            <div class="mat-cell">Manejo de Mercancía Envío paquetería</div>
            <div class="mat-cell">${{ deliveryForm.controls.deliveryMethod.value['cost'] | number : '1.2-2'}}</div>
            <div class="mat-cell text-muted"> 1 </div>
            <div class="mat-cell">${{ deliveryForm.controls.deliveryMethod.value['cost'] | number : '1.2-2'}}</div>
          </div>

          <div class="mat-row">
            <div class="mat-cell"></div>
            <div class="mat-cell"></div>
            <div class="mat-cell"></div>
            <div class="mat-cell text-muted">Subtotal: </div>
            <div class="mat-cell">${{ grandTotal | number : '1.2-2'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Método de envio</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span
                class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
      <h2><span class="text-muted mr-1">Precio total:</span><span>${{grandTotal | number : '1.2-2'}}</span></h2>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Datos de envio</h3>
        <mat-checkbox [(ngModel)]="showBilling">Agregar datos de facturación</mat-checkbox>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Nombre:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Correo electrónico:</p>
        <p>{{billingForm.controls.email.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Teléfono:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Estado:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Ciudad:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Código postal:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Colonia:</p>
        <p>{{billingForm.controls.suburb.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Dirección:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxShow="{{showBilling}}">
      <form [formGroup]="billMandatoryForm">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field>
              <mat-label>Tipo de persona</mat-label>
              <mat-select required formControlName="typePerson" >
                <mat-option [value]="'fisica'">
                  Persona Física
                </mat-option>
                <mat-option [value]="'moral'">
                  Persona Moral
                </mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.errors?.required">Tipo de persona es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field>
              <mat-label>Uso de CFDI</mat-label>
              <mat-select required formControlName="usoCFDI" >
                <mat-option [value]="'G01 Adquisición de mercancías'">G01 Adquisición de mercancías</mat-option>
                <mat-option [value]="'G03 Gastos en general'">G03 Gastos en general</mat-option>
                <mat-option [value]="'I08 Otra maquinaria y equipo'">I08 Otra maquinaria y equipo</mat-option>
                <mat-option [value]="'P01 Por definir'">P01 Por definir</mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.usoCFDI.errors?.required">Uso de CFDI es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1" [fxShow]="paymentForm.controls.paymentMethod.value['value']=='Transferencia'">
            <mat-form-field>
              <mat-label>Forma de pago</mat-label>
              <mat-select required formControlName="typePayment" >
                <mat-option [value]="'01 Efectivo'">Deposito en ventanilla con efectivo</mat-option>
                <mat-option [value]="'02 Cheque nominativo'">Deposito de cheque</mat-option>
                <mat-option [value]="'03 Transferencia eletrónica de fondos'">Transferencia electrónica</mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.usoCFDI.errors?.required">Uso de CFDI es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Razón social</mat-label>
              <input matInput placeholder="Razón social" formControlName="socialReason" maxlength="100" required>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.errors?.required">Razón social es requerido
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.hasError('pattern')">
                La razón social es invalida
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.hasError('minlength')">
                La razón social es muy corta, mínimo 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>RFC</mat-label>
              <input matInput placeholder="RFC" formControlName="rfc" required>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.errors?.required">RFC es requerido
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.hasError('minlength')">
                El RFC es muy corto, mínimo 12 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.hasError('maxlength')">
                El RFC es muy largo, máximo 13 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Corre electrónico</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billMandatoryForm.controls.email.errors?.required">Corre electrónico es requerido</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.email.hasError('invalidEmail')">El Correo electrónico es invalido</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Estado</mat-label>
              <input matInput placeholder="Estado" formControlName="state">
              <mat-error *ngIf="billMandatoryForm.controls.state.errors?.required">Estado es requerido</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.state.hasError('minlength')">
                El estado es muy corto, mínimo 5 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.state.hasError('pattern')">
                Escribe un estado válido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ciudad/Municipio</mat-label>
              <input matInput placeholder="Ciudad/Municipio" formControlName="city" required>
              <mat-error *ngIf="billMandatoryForm.controls.city.errors?.required">Ciudad es requerida</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.city.hasError('minlength')">
                El municipio es muy corto, mínimo 5 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.city.hasError('pattern')">
                Escribe un municipio válido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Código postal</mat-label>
              <input matInput placeholder="Código postal" formControlName="zip" required>
              <mat-error *ngIf="billMandatoryForm.controls.zip.errors?.required">Código postal es requerido
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.zip.hasError('pattern')">
                El Código postal es invalido, ingresa números
              </mat-error>
            </mat-form-field>
          </div>
          <div [fxFlex]="paymentForm.controls.paymentMethod.value['value']=='Transferencia' ? 75:100" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="Dirección (Calle número interior, número exterior )"
                     formControlName="address" required>
              <mat-error *ngIf="billMandatoryForm.controls.address.errors?.required">La dirección es requerida</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.address.hasError('minlength')">
                La dirección es muy corta, mínimo 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
              class="mr-1"  [disabled]="blockButtoms">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="placeOrder()" [disabled]="blockButtoms">{{textButtonOrder}}</button>
    </div>
  </mat-step>
  <mat-step label="Confirmación" style="">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <button mat-fab class="bg-color-jd">
        <mat-icon>check</mat-icon>
      </button>
      <h2 class="mt-2">En tu correo ya tienes el formato con el puedes realizar el desposito en ventanilla o una transferencia electrónica</h2>
      <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
        <h2><span class="text-muted mr-1">Total a pagar:</span><span>${{grandTotal | number : '1.2-2'}}</span></h2>
      </div>

      <h2 class="py-1">Datos bancarios:</h2>
      <h3 class="py-1">Beneficiario: JARDEPOT SA de CV</h3>
      <h3 class="py-1">RFC: JAR111021F14</h3>
    </div>
    <div fxLayout="row wrap" class="p-2">

      <div fxFlex="100" fxFlex.gt-sm="35" fxFlexOffset.gt-sm="15" class="px-1 bank-card" fxLayoutAlign="center center">
        <div fxLayout="column">
          <img src="assets/images/bancos/citibanamex.png" alt="Banamex" class="img-bank">
          <p class="text-muted lh">Cuenta: <strong>0084594</strong></p>
          <p class="text-muted lh">Sucursal: <strong>4097</strong></p>
          <p class="text-muted lh">CLABE: <strong>0025 4040 9700 8459 41</strong></p>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="35" class="px-1 bank-card" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxLayoutAlign="center center" style="max-height: 132px !important; height: 132px; width: 100%; max-width: 300px;">
            <div style=" background-color: #072146; height: 40%;" fxLayoutAlign="center center">
              <img src="assets/images/bancos/bbva.svg" alt="Bancomer" style="width: 50%;">
            </div>
          </div>
          <p class="text-muted lh">Cuenta: <strong>0110147699</strong></p>
          <p class="text-muted lh">CLABE: <strong>0125 4000 1101 4769 96</strong></p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="p-2">
      <div fxFlex="33" fxFlex.gt-md="25" fxFlexOffset.gt-md="13" class="bank-card">
        <img src="assets/images/bancos/banbajio.png" alt="Banbajio" class="img-bank">
        <p class="text-muted lh">Cuenta: <strong>11925492</strong></p>
        <p class="text-muted lh">CLABE: <strong>0305 4090 0003 3487 84</strong></p>
      </div>

      <div fxFlex="33" fxFlex.gt-md="25" class="bank-card">
        <img src="assets/images/bancos/banorte.png" alt="Banorte" class="img-bank" style="height: 119px;">
        <p class="text-muted lh">Cuenta: <strong>0323900559</strong></p>
        <p class="text-muted lh">CLABE: <strong>0725 4000 3239 0055 94</strong></p>
      </div>

      <div fxFlex="33" fxFlex.gt-md="25" class="bank-card">
        <div class="img-bank" fxLayoutAlign="center center" style="height: 125px;">
          <img src="assets/images/bancos/santander.svg" alt="Santander" style="width: 80%">
        </div>
        <p class="text-muted lh">Cuenta: <strong>65505199530</strong></p>
        <p class="text-muted lh">CLABE: <strong>0145 4065 5051 9953 08</strong></p>
      </div>

    </div>

    <p class="text-muted lh">
      Una vez realizado su depósito o transferencia, favor de informar al correo ventas@jardepot.com Incluyendo sus datos
      completos para facturación y envío, así como los productos solicitados. Después de haber efectuado su pago, no se
      aceptan cancelaciones. Atentos saludos del equipo de atención a clientes JARDEPOT SA de CV. Quienes agradecen su confianza esperando poder contar con su preferencia.
    </p>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button color="primary">Regresar al inicio</a>
    </div>

  </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper #verticalStepper linear="true" class="mat-elevation-z2" fxHide="false" fxHide.gt-sm>
  <mat-step [stepControl]="billingForm" label="Datos de envio">
    <form [formGroup]="billingForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre(s)</mat-label>
            <input matInput placeholder="Nombre(s)" formControlName="firstName" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.firstName.errors?.required">Nombre es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.firstName.hasError('minlength')">
              El nombre es muy corto, mínimo 3 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.firstName.hasError('pattern')">
              Escribe en nombre válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Apellido" formControlName="lastName" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.lastName.errors?.required">Apellido es requerido
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="billingForm.controls.lastName.hasError('minlength')">
            El apellido es muy corto, mínimo 3 caracteres
          </mat-error>
          <mat-error *ngIf="billingForm.controls.lastName.hasError('pattern')">
            Escribe un apellido válido
          </mat-error>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="billingForm.controls.email.errors?.required">Corre eletrónico es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.email.hasError('invalidEmail')">El Correo eletrónico es invalido</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Teléfono" formControlName="phone" maxlength="10"  required>
            <mat-error *ngIf="billingForm.controls.phone.errors?.required">Teléfono es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.phone.hasError('pattern')">
              El teléfono es invalido, ingresa números
            </mat-error>
            <mat-error *ngIf="billingForm.controls.phone.hasError('minlength')">
              El teléfono es muy corto, son 10 números
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="state" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.state.errors?.required">Estado es requerido</mat-error>
            <mat-error *ngIf="billingForm.controls.state.hasError('minlength')">
              El estado es muy corto, mínimo 5 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.state.hasError('pattern')">
              Escribe un estado válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Ciudad/Municipio</mat-label>
            <input matInput placeholder="Ciudad/Municipio" formControlName="city" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.city.errors?.required">Ciudad es requerida</mat-error>
            <mat-error *ngIf="billingForm.controls.city.hasError('minlength')">
              El municipio es muy corto, mínimo 5 caracteres
            </mat-error>
            <mat-error *ngIf="billingForm.controls.city.hasError('pattern')">
              Escribe un municipio válido
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código postal</mat-label>
            <input matInput placeholder="Código postal" formControlName="zip" maxlength="5" required>
            <mat-error *ngIf="billingForm.controls.zip.errors?.required">Código postal es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.zip.hasError('pattern')">
              El Código postal es invalido, ingresa números
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Colonia</mat-label>
            <input matInput placeholder="Colonia" formControlName="suburb" maxlength="50" required>
            <mat-error *ngIf="billingForm.controls.suburb.errors?.required">La colonia es requerido
            </mat-error>
            <mat-error *ngIf="billingForm.controls.suburb.hasError('minlength')">
              El nombre de la colonia es muy corto, mínimo 5 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="100" class="px-1">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Dirección (Calle número interior, número exterior )"
                   formControlName="address" maxlength="100" required>
            <mat-error *ngIf="billingForm.controls.address.errors?.required">La dirección es requerida</mat-error>
          </mat-form-field>
          <mat-error *ngIf="billingForm.controls.address.hasError('minlength')">
            La dirección es muy corta, mínimo 5 caracteres
          </mat-error>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="deliveryForm" label="Método de entrega">
    <form [formGroup]="deliveryForm" class="p-2">
      <mat-radio-group formControlName="deliveryMethod" fxLayout="column" fxLayoutAlign="center" required
                       name="methods">
        <mat-radio-button *ngFor="let method of deliveryMethods" color="primary" [value]="method" class="mt-1">
          <b>{{method.name}}</b>
          <p style="white-space: normal;">{{method.desc}}</p>
        </mat-radio-button>
      </mat-radio-group>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
                class="mr-1">
          <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="paymentForm" label="Método de pago">
    <form [formGroup]="paymentForm">
      <div fxLayout="row wrap">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" class="p-1">
          <span class="text-muted">Elige método para realizar tu pago</span>
          <img src="assets/images/others/card-icon.png" alt="">
        </div>
        <mat-radio-group formControlName="paymentMethod" fxLayout="column" fxLayoutAlign="center" required
                         name="methods" (change)="calculateTotal()">
          <mat-radio-button *ngFor="let method of paymentMethods" color="primary" [value]="method" class="mt-1">
            <b>{{method.name}}</b>
            <p style="white-space: normal;">{{method.desc}}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
                class="mr-1">
          <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Siguiente" matTooltipPosition="after">
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Vista previa de la orden">
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Carrito de compra</h3>
        <div class="divider"></div>
        <mat-table [dataSource]="dataSource" matSort>
          <!-- ID Column -->
          <ng-container matColumnDef="producto">
            <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"></mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Producto"> <img [src]="product.images[0].small" (error)="handleImgError($event)" style="width: auto; height: 140px;"> </mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Nombre"> {{product.name}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="precio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Precio unitario </mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Precio"> ${{product.newPrice | number : '1.2-2'}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Cantidad"> {{product.cartCount}} </mat-cell>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell *matCellDef="let product" data-label="Total"> ${{ (product.newPrice * product.cartCount) | number : '1.2-2'}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>

        </mat-table>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Método de envio</h3>
        <div class="divider"></div>
        <p class="py-1">{{deliveryForm.controls.deliveryMethod.value['name']}} <span
                class="text-muted">{{deliveryForm.controls.deliveryMethod.value['desc']}}</span></p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
      <h2><span class="text-muted mr-1">Precio total:</span><span>${{grandTotal | number : '1.2-2'}}</span></h2>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Datos de envio</h3>
        <mat-checkbox [(ngModel)]="showBilling">Agregar datos de facturación</mat-checkbox>
        <div class="divider"></div>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Nombre:</p>
        <p>{{billingForm.controls.firstName.value}} {{billingForm.controls.lastName.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Correo electrónico:</p>
        <p>{{billingForm.controls.email.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Teléfono:</p>
        <p>{{billingForm.controls.phone.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Estado:</p>
        <p>{{billingForm.controls.state.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Ciudad:</p>
        <p>{{billingForm.controls.city.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Código postal:</p>
        <p>{{billingForm.controls.zip.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Colonia:</p>
        <p>{{billingForm.controls.suburb.value}}</p>
      </div>
      <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="25" class="p-1">
        <p class="text-muted">Dirección:</p>
        <p>{{billingForm.controls.address.value}}</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxShow="{{showBilling}}">
      <form [formGroup]="billMandatoryForm">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field>
              <mat-label>Tipo de persona</mat-label>
              <mat-select required formControlName="typePerson" >
                <mat-option [value]="'fisica'">
                  Persona Física
                </mat-option>
                <mat-option [value]="'moral'">
                  Persona Moral
                </mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.errors?.required">Tipo de persona es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field>
              <mat-label>Uso de CFDI</mat-label>
              <mat-select required formControlName="usoCFDI" >
                <mat-option [value]="'G01 Adquisición de mercancías'">G01 Adquisición de mercancías</mat-option>
                <mat-option [value]="'G03 Gastos en general'">G03 Gastos en general</mat-option>
                <mat-option [value]="'I08 Otra maquinaria y equipo'">I08 Otra maquinaria y equipo</mat-option>
                <mat-option [value]="'P01 Por definir'">P01 Por definir</mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.usoCFDI.errors?.required">Uso de CFDI es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1" [fxShow]="paymentForm.controls.paymentMethod.value['value']=='Transferencia'">
            <mat-form-field>
              <mat-label>Forma de pago</mat-label>
              <mat-select required formControlName="typePayment" >
                <mat-option [value]="'01 Efectivo'">Deposito en ventanilla con efectivo</mat-option>
                <mat-option [value]="'02 Cheque nominativo'">Deposito de cheque</mat-option>
                <mat-option [value]="'03 Transferencia eletrónica de fondos'">Transferencia electrónica</mat-option>
              </mat-select>
              <mat-error *ngIf="billMandatoryForm.controls.usoCFDI.errors?.required">Uso de CFDI es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Razón social</mat-label>
              <input matInput placeholder="Razón social" formControlName="socialReason" maxlength="100" required>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.errors?.required">Razón social es requerida
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.hasError('pattern')">
                La razón social es invalida
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.socialReason.hasError('minlength')">
                La razón social es muy corta, mínimo 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>RFC</mat-label>
              <input matInput placeholder="RFC" formControlName="rfc" maxlength="13" required>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.errors?.required">RFC es requerido
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.hasError('minlength')">
                El RFC es muy corto, mínimo 12 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.rfc.hasError('maxlength')">
                El RFC es muy largo, máximo 13 caracteres
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Corre electrónico</mat-label>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="billMandatoryForm.controls.email.errors?.required">Corre electrónico es requerido</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.email.hasError('invalidEmail')">El Correo electrónico es invalido</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Estado</mat-label>
              <input matInput placeholder="Estado" formControlName="state">
              <mat-error *ngIf="billMandatoryForm.controls.state.errors?.required">Estado es requerido</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.state.hasError('minlength')">
                El estado es muy corto, mínimo 5 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.state.hasError('pattern')">
                Escribe un estado válido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Ciudad/Municipio</mat-label>
              <input matInput placeholder="Ciudad/Municipio" formControlName="city" required>
              <mat-error *ngIf="billMandatoryForm.controls.city.errors?.required">Ciudad es requerida</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.city.hasError('minlength')">
                El municipio es muy corto, mínimo 5 caracteres
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.city.hasError('pattern')">
                Escribe un municipio válido
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Código postal</mat-label>
              <input matInput placeholder="Código postal" formControlName="zip" required>
              <mat-error *ngIf="billMandatoryForm.controls.zip.errors?.required">Código postal es requerido
              </mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.zip.hasError('pattern')">
                El Código postal es invalido, ingresa números
              </mat-error>
            </mat-form-field>
          </div>
          <div [fxFlex]="paymentForm.controls.paymentMethod.value['value']=='Transferencia' ? 75:100" class="px-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="Dirección (Calle número interior, número exterior )"
                     formControlName="address" required>
              <mat-error *ngIf="billMandatoryForm.controls.address.errors?.required">La dirección es requerida</mat-error>
              <mat-error *ngIf="billMandatoryForm.controls.address.hasError('minlength')">
                La dirección es muy corta, mínimo 5 caracteres
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <button mat-mini-fab matStepperPrevious color="primary" matTooltip="Atras" matTooltipPosition="before"
              class="mr-1"  [disabled]="blockButtoms">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="placeOrder()" [disabled]="blockButtoms">{{textButtonOrder}}</button>
    </div>
  </mat-step>
  <mat-step label="Confirmación" style="">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <button mat-fab class="bg-color-jd">
        <mat-icon>check</mat-icon>
      </button>
      <h2 class="mt-2">En tu correo ya tienes el formato con el puedes realizar el desposito en ventanilla o una transferencia electrónica</h2>
      <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
        <h2><span class="text-muted mr-1">Total a pagar:</span><span>${{grandTotal | number : '1.2-2'}}</span></h2>
      </div>

      <h2 class="py-1">Datos bancarios:</h2>
      <h3 class="py-1">Beneficiario: JARDEPOT SA de CV</h3>
      <h3 class="py-1">RFC: JAR111021F14</h3>
    </div>
    <div fxLayout="row wrap" class="p-2">

      <div fxFlex="100" fxFlex.gt-sm="35" fxFlexOffset.gt-sm="15" class="px-1 bank-card" fxLayoutAlign="center center">
        <div fxLayout="column">
          <img src="assets/images/bancos/citibanamex.png" alt="Banamex" class="img-bank">
          <p class="text-muted lh">Cuenta: <strong>0084594</strong></p>
          <p class="text-muted lh">Sucursal: <strong>4097</strong></p>
          <p class="text-muted lh">CLABE: <strong>0025 4040 9700 8459 41</strong></p>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-sm="35" class="px-1 bank-card" fxLayoutAlign="center center">
        <div fxLayout="column">
          <div fxLayoutAlign="center center" style="max-height: 132px !important; height: 132px; width: 100%; max-width: 300px;">
            <div style=" background-color: #072146; height: 40%;" fxLayoutAlign="center center">
              <img src="assets/images/bancos/bbva.svg" alt="Bancomer" style="width: 50%;">
            </div>
          </div>
          <p class="text-muted lh">Cuenta: <strong>0110147699</strong></p>
          <p class="text-muted lh">CLABE: <strong>0125 4000 1101 4769 96</strong></p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="p-2">
      <div fxFlex="33" fxFlex.gt-md="25" fxFlexOffset.gt-md="13" class="bank-card">
        <img src="assets/images/bancos/banbajio.png" alt="Banbajio" class="img-bank">
        <p class="text-muted lh">Cuenta: <strong>11925492</strong></p>
        <p class="text-muted lh">CLABE: <strong>0305 4090 0003 3487 84</strong></p>
      </div>

      <div fxFlex="33" fxFlex.gt-md="25" class="bank-card">
        <img src="assets/images/bancos/banorte.png" alt="Banorte" class="img-bank" style="height: 119px;">
        <p class="text-muted lh">Cuenta: <strong>0323900559</strong></p>
        <p class="text-muted lh">CLABE: <strong>0725 4000 3239 0055 94</strong></p>
      </div>

      <div fxFlex="33" fxFlex.gt-md="25" class="bank-card">
        <div class="img-bank" fxLayoutAlign="center center" style="height: 125px;">
          <img src="assets/images/bancos/santander.svg" alt="Santander" style="width: 80%">
        </div>
        <p class="text-muted lh">Cuenta: <strong>65505199530</strong></p>
        <p class="text-muted lh">CLABE: <strong>0145 4065 5051 9953 08</strong></p>
      </div>

    </div>

    <p class="text-muted lh">
      Una vez realizado su depósito o transferencia, favor de informar al correo ventas@jardepot.com Incluyendo sus datos
      completos para facturación y envío, así como los productos solicitados. Después de haber efectuado su pago, no se
      aceptan cancelaciones. Atentos saludos del equipo de atención a clientes JARDEPOT SA de CV. Quienes agradecen su confianza esperando poder contar con su preferencia.
    </p>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/']" mat-raised-button color="primary">Regresar al inicio</a>
    </div>

  </mat-step>
</mat-vertical-stepper>
